<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="http://d3js.org/d3.v2.js"></script> 
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
		<script src="http://datamaps.github.io/scripts/0.4.4/datamaps.usa.min.js"></script>
		<!-- script src="node_modules/datamaps/dist/datamaps.world.min.js"></script> -->
		
		<svg width="200" height="100">
			
			
			<circle cx="25" cy="25" r="20" fill="red"/>
<circle cx="50" cy="25" r="20" fill="rgba(0, 0, 255, 0.25)"/>
<circle cx="75" cy="25" r="20" fill="rgba(0, 255, 0, 0.5)"/>
<circle cx="100" cy="25" r="20" fill="rgba(255, 255, 0, 0.25)"/>
<circle cx="125" cy="25" r="20" fill="rgba(255, 0, 0, 0.1)"/>
<rectangle cx="125" cy="25" r="20" fill="rgba(255, 0, 0, 0.1)"/>
			</svg>
	  <title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<script type="text/javascript">
		dataset=[5]
<!--
	
-->            
			<!-- d3.select("body").append("p").text("New paragraph!"); -->
		
   	
		</script>
		<nav>
    		<ul>
    			
<style type="text/css">
.barr {
    fill: none;
    pointer-events:all
}
.barr:hover { 
    fill: blue;
    stroke:black;
    opacity:0.5;
    font-color:white;
    pointer-events:all;
}
</style>    			
		 <svg width="800" height="180" style="opacity:0.2">
   			<text x="50" y="125" 
        			font-family="Verdana" 
        			font-size="35">
    				HOME
  			</text>
			<text x="201" y="125" 
        			font-family="Verdana" 
        			font-size="35">
    				ABOUT
  			</text>
			<text x="355" y="125" 
        			font-family="Verdana" 
        			font-size="35">
    				CV
  			</text>
			<text x="510" y="125" 
        			font-family="Verdana" 
        			font-size="35">
    				BLOG
  			</text>
  			<a href="/">
			<rect class="barr" x="25" y="10" rx="20" ry="20" width="150" height="150" 
  			style="stroke:black;stroke-width:5;opacity:0.5 onclick="window.location.href="/home""/>
  			</a>
  			<rect class="barr" x="180" y="10" rx="20" ry="20" width="150" height="150" 
  			style="stroke:black;stroke-width:5;opacity:0.5" />
  			<rect class="barr" x="350" y="10" rx="20" ry="20" width="150" height="150" 
  			style="stroke:black;stroke-width:5;opacity:0.5" />
  			<a href="/blog">
  			<rect class="barr" x="505" y="10" rx="20" ry="20" width="150" height="150" 
  			style="stroke:black;stroke-width:5;opacity:0.5 onclick="window.location.href="/blog""> 
  			</a>	
  			
  			</rect>
		</svg> 
		  
     
        		
    		</ul>
		</nav>
		<div class="container">
		  {{ content }}
		  <!--
    		<div class="blurb">
        		<h1>Hi there, I'm PCB!</h1>
				<p>I love tinkering with electronics and software <em></em>  <a href="/about">This is an example usage of static website generator...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
		<div id="container2" style="position: relative; width: 250px; height: 150px;"></div>
		<script>
		    <!-- var map = new Datamap({element: document.getElementById('container2')}); -->
		    
    		    var map = new Datamap({
		        element: document.getElementById('container2'),
		        scope: 'usa',
		        fills: {
		        	// Any hex, color name or rgb/rgba value
        		 defaultFill: 'rgba(255, 0, 0, 0.1)'
        		},
		        geographyConfig: {
		            highlightOnHover: false,
            		    popupOnHover: false
        		}
		    });

		</script>

    		<ul>
        		<li><a href="mailto:zdiscov@gmail.com">email</a></li>
        		<li><a href="https://zdiscov.github.io">github.com/zdiscov</a></li>
		</ul>

		
		</footer>
	</body>
</html>
