<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="http://d3js.org/d3.v2.js"></script> 
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
		<script src="http://datamaps.github.io/scripts/0.4.4/datamaps.usa.min.js"></script>
		<!-- script src="node_modules/datamaps/dist/datamaps.world.min.js"></script> -->
		
		<svg width="200" height="200">
			
			
			<circle cx="25" cy="25" r="20" fill="red"/>
<circle cx="50" cy="25" r="20" fill="rgba(0, 0, 255, 0.25)"/>
<circle cx="75" cy="25" r="20" fill="rgba(0, 255, 0, 0.5)"/>
<circle cx="100" cy="25" r="20" fill="rgba(255, 255, 0, 0.25)"/>
<circle cx="125" cy="25" r="20" fill="rgba(255, 0, 0, 0.1)"/>
			</svg>
	  <title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<script type="text/javascript">
		dataset=[5]
		var svg = d3.select("body")
            .append("svg")
            .attr("width", 50)
            .attr("height", 10);
            
            svg.selectAll("circle")
	    .data(dataset)
	    .enter()
	    .append("circle")
	    .attr("cx",2)
	    .attr("cy",2)
	    .attr("r",2)
	    .on( 'mouseenter', function() {
          	d3.select( this )
            	.transition()
            	.attr("fill","green")
        	} )
            .on('mouseleave', function() {
          	d3.select( this )
            	.transition()
            	.attr("fill","red")
        	}
            	)
	    .attr("fill","green")
	    .transition()
	    .attr("fill","red");
            
			<!-- d3.select("body").append("p").text("New paragraph!"); -->
		
		</script>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
        		
    		</ul>
		</nav>
		<div class="container">
		  {{ content }}
		  <!--
    		<div class="blurb">
        		<h1>Hi there, I'm PCB!</h1>
				<p>I love tinkering with electronics and software <em></em>  <a href="/about">This is an example usage of static website generator...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
		<div id="container2" style="position: relative; width: 250px; height: 150px;"></div>
		<script>
		    <!-- var map = new Datamap({element: document.getElementById('container2')}); -->
		    
    		    var map = new Datamap({
		        element: document.getElementById('container2'),
		        scope: 'usa',
		        fills: {
		        	// Any hex, color name or rgb/rgba value
        		 defaultFill: 'rgba(255, 0, 0, 0.1)'
        		},
		        geographyConfig: {
		            highlightOnHover: false,
            		    popupOnHover: false
        		}
		    });

		</script>

    		<ul>
        		<li><a href="mailto:zdiscov@gmail.com">email</a></li>
        		<li><a href="https://zdiscov.github.io">github.com/zdiscov</a></li>
		</ul>

		
		</footer>
	</body>
</html>
